@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
}

html,
body {
  box-sizing: border-box;
  /* font-family: Arial, sans-serif; */
  font-family: "Inter", sans-serif;
  width: 100%;
  height: 100vh;
}

/* banner img */

.ban_sec {
  width: 100%;
}
.ban_img {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ban_img img {
  width: 80%;
}
.ban_text {
  position: absolute;
  top: 30%;
  left: 12%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.ban_text strong {
  font: 20px;
  color: #fff;
  text-transform: uppercase;
}
.ban_text strong span {
  font: 20px;
  letter-spacing: 1px;
}

/* @media (min-width: 1200px) and (max-width: 1399px) {
    .ban_text p {
      font-size: 21px;
    }
  } */

@media (min-width: 992px) and (max-width: 1199px) {
  /* .ban_text p {
      font-size: 17px;
    } */
  .ban_text strong {
    font-size: 20px;
    line-height: 60px;
  }
  .ban_text strong span {
    font-size: 20px;
  }
  /* .ban_text a {
      font-size: 16px;
      line-height: 19px;
    } */
}

@media only screen and (max-width: 991px) {
  .ban_text strong {
    font-size: 20px;
    /* line-height: 40px; */
  }
  .ban_text strong span {
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 2px;
  }
  /* .ban_text p {
      font-size: 14px;
      line-height: 20px;
    }
    .ban_text a {
      font-size: 13.39px;
      line-height: 15px;
    } */
}
@media only screen and (max-width: 767px) {
  .ban_img img {
    min-height: 290px;
    object-fit: cover;
  }
}
@media only screen and (max-width: 575px) {
  .ban_text strong {
    background: rgba(0, 0, 0, 0.324);
    padding: 10px;
    width: 100%;
    display: block;
  }
}
@media only screen and (max-width: 480px) {
  .ban_text strong span {
    font-size: 20px;
    line-height: 31px;
    letter-spacing: 1px;
  }
  .ban_text {
    left: 2%;
  }
}

/* text */
.foundation-section {
  max-width: 80%;
  margin: 20px auto;
  padding: 20px;
  /* background-color: #fff; */
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
  border-radius: 5px;
}

.foundation-section h1 {
  font-style: italic;
  font-size: 2em;
  color: #cc6600;
  line-height: 1.4;
  margin-bottom: 10px;
}

.foundation-section h1 span {
  font-weight: normal;
  color: #cc6600;
}

.subheading {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.content {
  font-size: 15px;
  color: #333;
  line-height: 1.6;
}

@media screen and (max-width: 768px) {
  .foundation-section {
    padding: 15px;
  }

  .foundation-section h1 {
    font-size: 24px;
  }

  .subheading {
    font-size: 14px;
  }

  .content {
    font-size: 13px;
  }
}

/* <!-- flex-text-img --> */

.touching-lives-section {
  background-color: #f0f0f0;
}

.touching-lives-section .fast-box {
  padding: 20px;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  /* max-width: 1000px; */
  width: 100%;
  /* margin: 50px auto; */
  border-radius: 5px;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
  overflow: hidden;
}

.text-content {
  flex: 1 1 50%;
  /* padding: 20px; */
  color: #333;
  /* width: 50%; */
}

.text-content h2 {
  font-size: 24px;
  color: #cc6600;
  margin-bottom: 10px;
  line-height: 1.4;
}

.text-content h2 span {
  font-weight: normal;
  /* color: #ff7f50; */
}

.text-content p {
  margin-bottom: 15px;
}

.image-content {
  flex: 1 1 50%;
  display: flex;
  position: relative;
  width: 50%;
  justify-content: center;
  padding: 22px;
  /* margin-right: -32px; */
}

.image-content img {
  height: 250px;
  width: 536px;
  object-fit: cover;
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}

.image-content img:hover {
  filter: grayscale(0%);
}

.overlay-text {
  position: absolute;
  top: 242px;
  left: 84px;
  /* transform: translate(-50%, -50%); */
  z-index: 2;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px;
  cursor: pointer;
  font-size: 10px;
  width: max-content;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .text-content,
  .image-content {
    flex: 1 1 100%;
  }

  .text-content {
    order: 2;
  }

  .image-content {
    order: 1;
  }
  .touching-lives-section .fast-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .text-content {
    width: 100%;
  }
  .overlay-text {
    top: 80%;
    left: 49%;
  }
  .image-content img {
    width: 280px;
  }
}

.main-box {
  width: 100%;
  height: 100%;
}

.two-imgbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.two-imgbox .imgs {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.two-imgbox .imgs img {
  height: 250px;
  width: 536px;
  object-fit: cover;
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}

.two-imgbox img:hover {
  filter: grayscale(0%);
}

@media screen and (max-width: 768px) {
  .two-imgbox .imgs {
    flex-direction: column;
  }
}

/* modal 1 style */
.content-section {
  /* max-width: 800px; */
  /* margin: 50px auto; */
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
}

.text-content h2 {
  font-size: 24px;
  color: #cc6600;
  margin-bottom: 10px;
  line-height: 1.4;
}

.text-content h3 {
  font-size: 18px;
  color: #cc6600;
  margin-top: 20px;
  margin-bottom: 10px;
}

.text-content p {
  margin-bottom: 15px;
  color: #333;
  line-height: 1.6;
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .image-row {
    flex-direction: column;
  }
}

/* .carousel-item img{
  border-radius: 5px;
  height: 200px;
  width: 200px;
  object-fit: cover;
} */



section {
  text-align: center;
  margin-top: 2.5%;
}
.scroll-arrow {
  width: 10%;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    padding:0;
    margin:0;
    opacity: 0.5;
  font-size:34px;
  transition: 0.2s;
}
.scroll-arrow:hover {
  transition: 0.2s;
  opacity:1;
}
  ul {
    width: 60%;
    scroll-behavior: smooth;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    text-align: center;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
    ul::-webkit-scrollbar {
    display: none;
  }
  li {
    list-style: none;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 20%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    /* filter: grayscale(100%); */
      transition: 0.2s;
  }
li, img {
  width: 163px;
}
