@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
}

html,
body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  width: 100%;
  height: 100vh;
  font-family: "Exo", sans-serif;
}

.container {
  width: 100%;
  /* height: 100vh; */
}

/* banner img */

.ban_sec {
  width: 100%;
  /* height: 100%; */
}
.ban_img {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ban_img img {
  width: 100%;
}
.ban_text {
  position: absolute;
  top: 22%;
  left: 6%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* .b-logo {
  position: absolute;
  top: 12%;
  right: 2%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
} */

/* .b-logo img{
  width: 50px;
  border-radius: 50%;
} */

/* @media only screen and (max-width: 771px) {
  .b-logo {
    position: absolute;
    top: 20%;
    right: 4%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
} */

/* @media only screen and (max-width: 407px) {
  .b-logo img{
    width: 40px;
    border-radius: 50%;
  }
} */

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
}

.content div{
  width: 50%;
  /* background-color: red; */
  border-radius: 5px;
  border: 2px solid #5d88bc46;
  padding: 10px;
}

.ban_text strong h5 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-style: italic;
  font-size: 18px;
  letter-spacing: 1px;
}

/* @media (min-width: 1200px) and (max-width: 1399px) {
    .ban_text p {
      font-size: 21px;
    }
  } */

/* @media (min-width: 992px) and (max-width: 1199px) {
  .ban_text p {
      font-size: 17px;
    }
  .ban_text strong {
    font-size: 2vw;
    line-height: 60px;
  }
  .ban_text strong span {
    font-size: 20px;
  }
  .ban_text a {
      font-size: 16px;
      line-height: 19px;
    }
} */

/* @media only screen and (max-width: 991px) {
  .ban_text strong {
    font-size: 2vw;
  }
  .ban_text strong span {
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 2px;
  }
   .ban_text p {
      font-size: 14px;
      line-height: 20px;
    }
    .ban_text a {
      font-size: 13.39px;
      line-height: 15px;
    }
} */

@media only screen and (max-width: 767px) {
  .ban_img img {
    /* min-height: 290px; */
    object-fit: cover;
  }
}
@media only screen and (max-width: 575px) {
  .ban_text strong {
    background: rgba(0, 0, 0, 0);
    padding: 10px;
    width: 100%;
    display: block;
  }
}
@media only screen and (max-width: 480px) {
  /* .ban_text strong span {
    font-size: 20px;
    line-height: 31px;
    letter-spacing: 1px;
  } */
  .ban_text {
    left: 11%;
    max-width: 50%;
  }
}

/* text */
.foundation-section {
  /* max-width: 80%; */
  margin: 20px auto;
  padding: 12px;
  /* background-color: #fff; */
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
  border-radius: 5px;
}

.foundation-section h1 {
  font-style: italic;
  font-weight: 600;
  font-size: 2em;
  color: #c7672b;
  line-height: 1.4;
  margin-bottom: 10px;
}

.foundation-section h1 span {
  font-weight: normal;
  color: #c7672b;
  font-weight: 600;
}

.subheading {
  font-size: 16px;
  font-weight: bold;
  color: #5d87bc;
  margin-bottom: 20px;
  font-style: italic;
}

@media screen and (max-width: 768px) {
  .foundation-section {
    padding: 15px;
  }

  .foundation-section h1 {
    font-size: 24px;
  }

  .subheading {
    font-size: 14px;
  }
  
  .content {
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
  }

}

/* <!-- flex-text-img --> */

.gray {
  margin-left: 11px;
  background-color: #d9d9d9;
}

.touching-lives-section .fast-box {
  /* background-color: #f0f0f0; */
  gap: 14px;
  padding: 20px;
  display: flex;
  /* flex-wrap: wrap; */
  padding: 12px 12px;
  justify-content: space-between;
  /* max-width: 1000px; */
  width: 100%;
  /* margin: 50px auto; */
  border-radius: 5px;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
  overflow: hidden;
}

.text-content {
  flex: 1 1 50%;
  /* padding: 20px; */
  color: #333;
  /* width: 50%; */
}

.text-content h2 {
  font-size: 24px;
  color: #c7672b;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 1.4;
}

.text-content h2 span {
  font-weight: 600;
  font-size: 19px;
  /* color: #ff7f50; */
}

.text-content p {
  margin-bottom: 15px;
}

.text-content p span {
  font-weight: 700;
}

.image-content {
  flex: 1 1 50%;
  display: flex;
  position: relative;
  width: 50%;
  align-items: center;
  justify-content: center;
  padding: 22px 0px;
  /* margin-right: -32px; */
}

#of-contain {
  object-fit: cover;
}

.image-content img {
  height: 250px;
  width: 536px;
  object-fit: cover;
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}

.image-content img:hover {
  filter: grayscale(0%);
}

/* .overlay-text {
  position: absolute;
  top: 242px;
  left: 84px;
  z-index: 2;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px;
  cursor: pointer;
  font-size: 10px;
  width: max-content;
  border-radius: 5px;
} */

@media screen and (max-width: 768px) {
  .text-content,
  .image-content {
    flex: 1 1 100%;
  }

  .text-content {
    order: 2;
  }

  .image-content {
    order: 1;
  }
  .touching-lives-section .fast-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .text-content {
    width: 100%;
  }
  /* .overlay-text {
    top: 80%;
    left: 49%;
  } */
  .image-content img {
    width: 280px;
  }
}

.main-box {
  width: 100%;
  height: 100%;
}

.two-imgbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.two-imgbox .imgs {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-around;
}

.two-imgbox .imgs img {
  height: 250px;
  width: 536px;
  object-fit: cover;
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}

.two-imgbox img:hover {
  filter: grayscale(0%);
}

@media screen and (max-width: 768px) {
  .two-imgbox .imgs {
    flex-direction: column;
  }
}

/* modal 1 style */
.content-section {
  /* max-width: 800px; */
  /* margin: 50px auto; */
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
}

.text-content h2 {
  font-size: 20px;
  font-style: italic;
  color: #cc6600;
  margin-bottom: 10px;
  line-height: 1.2;
}

.text-content h3 {
  font-size: 18px;
  color: #cc6600;
  margin-top: 20px;
  margin-bottom: 10px;
}

.text-content p {
  margin-bottom: 15px;
  color: #333;
  line-height: 1.6;
  font-size: 15px;
  /* max-width: 523px; */
  text-align: justify;
}

@media screen and (max-width: 768px) {
  .image-row {
    flex-direction: column;
  }
}

/* .carousel-item img{
  border-radius: 5px;
  height: 200px;
  width: 200px;
  object-fit: cover;
} */

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}

.wrapper {
  max-width: 450px;
}

.wrapper .carousel {
  white-space: nowrap;
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
}

.carousel img {
  height: 240px;
  object-fit: cover;
  width: calc(100% / 2);
  margin-left: 14px;
  border-radius: 5px;
}

.carousel img:first-child {
  margin-left: 0px;
}

.dots {
  text-align: center;
  margin-top: 10px;
}

.dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
}

.dots .dot.active {
  background-color: #717171;
}
